html {
	
	

}
body {
	
	margin:0;
	background-color: white;
}



#topbar {
	margin-top:-28px;
	margin-left:0px;
	margin-right:0px;
	background: #29c5f9;
	height: 3em;
	text-align: center;
	font-size: 2em;
	
	

    color:white;
	
    
	
}

#titletext{

margin-top:25px;

}
#topbar2 {
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background: linear-gradient(#29c5f9 80%, #9f9f9f, #ffffff);
	height: 1.5em;
	text-align: center;
	font-size: 2em;
	
    color:white;
	
    
	
}

#buttons {

	margin-top:0px;
	margin-left:50px;
	margin-right:50px;
	color:#696969;
    text-decoration: none;
	



}

a:link {
    color: #696969;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #696969;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: gray;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}

#welcome {
	
	text-align: center;

}

#columns {
	margin-top:20em;
	width: 100%;
	
}

#C1 {
	vertical-align: top;
	width: 35%;
	

}

#C2 {
	
	vertical-align: top;
	width: 65%;
	

}

