html, body {margin: 0; height: 100%; overflow: hidden}

canvas {
  vertical-align: middle;
  margin: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;

  padding: 0;
  display: block;
  position: absolute;
  margin:auto;
  left: 0;
  right: 0;
  /* remove these two if you don't want vertical alignment */
  top:0;
  bottom: 0;

}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
